<a
  href="https://wa.me/526672145505?text=Hola%20,%20necesito%20hacer%20una%20cotizacion%20.%20¿%20me%20puedes%20ayudar%20?"
  target="_blank"
  class="fixed right-4 bottom-4 md:right-8 md:bottom-8 w-12 h-12 md:w-16 md:h-16 bg-green-500 rounded-full flex items-center justify-center shadow-lg hover:bg-green-600 transition duration-300 animate-bounce"
>
  <img
    src="/assets/svg/whatsapp-black-icon.svg"
    alt="WhatsApp"
    class="w-6 h-6 md:w-8 md:h-8 transition-transform duration-500 hover:rotate-12 hover:scale-110"
  />
</a>
