<!-- footer -->
<footer class="bg-black text-white p-4">
  <div class="flex flex-col items-center space-y-3">
    <!-- Imagen principal -->
    <img
      src="/assets/logo bernal/logo-fondo-negro-letra-white.jpg"
      alt="Logo"
      class="w-36"
    />
    <p class="font-semibold">"Confianza y calidad en cada conexión"</p>
    <p>#BernalInstalacionesElectricas</p>
    <!-- Título -->
    <h3 class="text-xl font-bold">Contactanos</h3>
    <div class="flex-col">
      <p class="flex">
        <img class="w-6 mr-2" src="/assets/svg/phonewhite.svg" alt="telefono" />
        +52 667 214 5505
      </p>

      <p class="flex">
        <img class="w-6 mr-2" src="/assets/svg/mailwhite.svg" alt="telefono" />
        bernal.electricidad&#64;gmail.com
      </p>
    </div>
    <!-- Imágenes pequeñas -->
    <div class="flex space-x-4">
      <a
        href="https://www.facebook.com/profile.php?id=61565586412195&mibextid=LQQJ4d"
        ><img src="/assets/svg/facebook.svg" alt="Facebook" class="w-8 h-8"
      /></a>
      <a
        href="https://wa.me/526672145505?text=Hola%20,%20necesito%20hacer%20una%20a%20cotizacion%20.%20¿%20me%20puedes%20ayudar%20?"
        ><img src="/assets/svg/whatsapp.svg" alt="whatsapp" class="w-8 h-8"
      /></a>
    </div>
  </div>
</footer>
