<div
  [ngClass]="{
    'bg-blue-950 bg-opacity-60': !scrolled,
    'bg-blue-950 bg-opacity-100 shadow-lg': scrolled
  }"
  class="fixed top-0 left-0 w-full z-10 flex items-center justify-between p-4 text-white font-sans font-semibold bg-opacity-60 bg-blue-950"
>
  <!-- Logo -->
  <div class="flex flex-grow items-center text-white">
    <a href="#home">
      <img
        class="w-36 sm:w-44 ml-4 sm:ml-10"
        src="/assets/logo bernal/logo-png-letra-blanca.png"
        alt="Logo"
      />
    </a>
    <!-- Número de teléfono para pantallas pequeñas -->
    <div class="flex items-center ml-4 md:hidden">
      <img
        class="w-6"
        src="/assets/svg/phone-alt2-svgrepo-com.svg"
        alt="Teléfono"
      />
      <span class="text-yellow-300 text-sm ml-2">+52 667 214 5505</span>
    </div>
  </div>

  <!-- Menú hamburguesa para pantallas pequeñas -->
  <div class="md:hidden">
    <button (click)="toggleMenu()" class="text-white focus:outline-none">
      <svg
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>

  <!-- Navegación principal -->
  <nav class="hidden md:flex flex-grow items-center justify-end space-x-4">
    <ul class="text-white flex space-x-4">
      <li>
        <a
          class="hover:border-2 border-black transition duration-300 rounded p-1 md:p-2"
          href="#home"
          >Home</a
        >
      </li>
      <li>
        <a
          class="hover:border-2 border-black transition duration-300 rounded p-1 md:p-2"
          routerLink="/contacto"
          >Contacto</a
        >
      </li>
      <li>
        <a
          class="hover:border-2 border-black transition duration-300 rounded p-1 md:p-2"
          href=""
          >About</a
        >
      </li>
    </ul>

    <!-- Sección de contacto (WhatsApp y teléfono) -->
    <ul class="flex items-center space-x-2 pl-4">
      <li>
        <a
          target="_blank"
          href="https://wa.me/526672145505?text=Hola%20,%20necesito%20hacer%20una%20a%20cotizacion%20.%20¿%20me%20puedes%20ayudar%20?"
        >
          <img
            class="w-8 md:w-10"
            src="/assets/svg/whatsapp.svg"
            alt="WhatsApp"
          />
        </a>
      </li>
      <li class="flex items-center">
        <img
          class="w-8 md:w-10"
          src="/assets/svg/phone-alt2-svgrepo-com.svg"
          alt="Teléfono"
        />
        <span class="text-yellow-300 text-sm md:text-base ml-2"
          >+52 667 214 5505</span
        >
      </li>
    </ul>
  </nav>

  <!-- Menú desplegable en pantallas pequeñas -->
  <nav
    [ngClass]="{
      'opacity-0 translate-x-full': !menuOpen,
      'opacity-100 translate-x-0': menuOpen
    }"
    class="absolute left-0 top-full mt-2 w-full bg-blue-950 text-white flex-col items-center space-y-4 py-4 md:hidden transition-all duration-700 ease-in-out"
  >
    <ul class="text-center">
      <li>
        <a
          class="block hover:bg-yellow-300 hover:text-black p-2 transition duration-300"
          routerLink="/"
          >Home</a
        >
      </li>
      <li>
        <a
          class="block hover:bg-yellow-300 hover:text-black p-2 transition duration-300"
          href="#model-x"
          >Nuestros Servicios</a
        >
      </li>
      <li>
        <a
          class="block hover:bg-yellow-300 hover:text-black p-2 transition duration-300"
          href="#powerwall"
          >About</a
        >
      </li>
      <li>
        <a
          class="block hover:bg-yellow-300 hover:text-black p-2 transition duration-300"
          routerLink="/contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</div>
