<app-nav-bar />
<div class="min-h-screen bg-blue-950 pt-32">
  <div class="container mx-auto px-6">
    <!-- Sección de contacto -->
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-white mb-4">Contáctanos</h2>
      <p class="text-white font-semibold">
        Ponte en contacto con nosotros a través de los siguientes medios:
      </p>
    </div>

    <!-- Tarjetas de contacto -->
    <div
      class="flex flex-wrap justify-center space-y-8 lg:space-y-0 lg:space-x-12"
    >
      <!-- Correo electrónico -->
      <div
        class="bg-yellow-300 p-6 rounded-lg shadow-lg w-full max-w-xs text-center"
      >
        <img
          class="mx-auto w-12 h-12 mb-4"
          src="/assets/svg-cards-service/mail-blue.svg"
          alt="Correo electrónico"
        />
        <h3 class="text-xl font-bold text-blue-950 mb-2">Correo Electrónico</h3>
        <p class="text-blue-950 font-semibold">
          bernal.electricidad&#64;gmail.com
        </p>
      </div>

      <!-- Número de teléfono -->
      <div
        class="bg-yellow-300 p-6 rounded-lg shadow-lg w-full max-w-xs text-center"
      >
        <img
          class="mx-auto w-12 h-12 mb-4"
          src="/assets/svg-cards-service/phone-blue.svg"
          alt="Número de teléfono"
        />
        <h3 class="text-xl font-bold text-blue-950 mb-2">Teléfono</h3>
        <p class="text-blue-950 font-semibold">+52 667 214 5505</p>
      </div>

      <!-- Dirección -->
      <div
        class="bg-yellow-300 p-6 rounded-lg shadow-lg w-full max-w-xs text-center"
      >
        <img
          class="mx-auto w-12 h-12 mb-4"
          src="/assets/svg-cards-service/location-blue.svg"
          alt="Ubicación"
        />
        <h3 class="text-xl font-bold text-blue-950 mb-2">Ubicación</h3>
        <p class="text-blue-950 font-semibold">
          Av. Ejemplo #123, Col. Centro, Culiacán, Sinaloa, México
        </p>
      </div>

      <!-- Facebook -->
      <div
        class="bg-yellow-300 p-12 rounded-lg shadow-lg w-full max-w-xs text-center"
      >
        <a
          href="https://www.facebook.com/tuempresa"
          target="_blank"
          class="text-blue-600 font-semibold hover:underline"
        >
          <img
            class="mx-auto w-12 h-12 mb-4"
            src="/assets/svg/facebook.svg"
            alt="Facebook"
        /></a>
        <h3 class="text-xl font-bold text-blue-950 mb-2">Facebook</h3>
      </div>
    </div>

    <!-- Logo de la empresa -->
    <div class="text-center mt-16">
      <img
        class="mx-auto w-36 sm:w-44"
        src="/assets/logo bernal/logo-png-letra-blanca.png"
        alt="Logo de la empresa"
      />
    </div>
  </div>
</div>
<app-whatsapp-icon />
<app-footer />
